body{
    background-color: rgb(212, 231, 237)
}

.box {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border: 2px solid rgb(224, 189, 189);
    border-radius: 10px;
    width: 340px;
    box-shadow: 15px 15px 8px 0 rgb(166, 165, 165);
    margin: 10px;
    box-sizing: border-box;
}

.rubrik{
    font-weight: bold;
    font-size: 25px;
    color:rgb(86, 86, 86);
   
    
}

